@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using CarsApi.Models;
@{
    Layout = "Master.cshtml";

    var defImg = Umbraco.ContentSingleAtXPath("//settings")!.Value<IPublishedContent>("defaultImage");
    var image = Model.Value<IPublishedContent>("image") ?? defImg;
    var description = Model.GetProperty("description");
    var text = description!.GetValue();
    var launchDate = Model.Value<DateTime>("launchDate").Year;
    var price = Model.Value<decimal>("price");
    var icon = Model.Ancestor()!.Value<IPublishedContent>("icon")! ?? defImg;
}

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 p-4">
                <img src=@Url.GetCropUrl(image, height: 300, width: 500) class="img-fluid rounded-start" alt="Car image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col">
                            <h5 class="card-title">@Model.Name</h5>
                        </div>
                        <div class="col-1">
                            <img src=@Url.GetCropUrl(icon, height: 50, width: 50)" class="img-fluid rounded-start" alt="Car brand logo">
                        </div>
                    </div>
                    <p class="card-text">@text</p>
                    <p class="card-text"><small class="text-body-secondary">@Umbraco.GetDictionaryValue("Year"): @launchDate</small></p>
                    <p class="card-text"><small class="text-body-secondary">@Umbraco.GetDictionaryValue("Price"): @price$</small></p>
                    <a href="@Model.Ancestor()!.Ancestor()!.Url()" class="btn btn-primary">@Umbraco.GetDictionaryValue("Go back")</a>
                    <a href="#" class="btn btn-primary">@Umbraco.GetDictionaryValue("Buy")</a>
                </div>
            </div>
        </div>
    </div>
</div>