@using CarsApi.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IndexViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using CarsApi.Controllers;

@{
    Layout = "Master.cshtml";
    var pageModel = Model.PageViewModel;
    var indexModel = Model;
}

<div class="container">
    <div class="row">
        <div class="col-2 p-4">
            <h5>@Umbraco.GetDictionaryValue("Search bar")</h5>
            <form method="get" class="pt-4">
                <div class="row">
                    <select class="form-select" name="brand" asp-items="Model.FilterViewModel.Brands"></select>
                </div>
                <label>@Umbraco.GetDictionaryValue("Price")</label>
                <div class="row">
                    <select class="form-select" name="minPrice" asp-items="Model.FilterViewModel.MinPrices"></select>
                    <select class="form-select" name="maxPrice" asp-items="Model.FilterViewModel.MaxPrices"></select>
                </div>
                <label>@Umbraco.GetDictionaryValue("Model year")</label>
                <div class="row">
                    <select class="form-select" name="minYear" asp-items="Model.FilterViewModel.MinYears"></select>
                    <select class="form-select" name="maxYear" asp-items="Model.FilterViewModel.MaxYears"></select>
                </div>
                <input type="submit" value="@Umbraco.GetDictionaryValue("Filter")" />
            </form>
        </div>
        <div class="col-10">
            @if (indexModel.PageViewModel.TotalPages > 1)
            {
                @await Html.PartialAsync("_Pagination", indexModel);
            }
            @if (!Model.CarModels.Any())
            {
                <div class="container text-center">
                    <p>No items matching your search criteria!</p>
                </div>
            }
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var car in Model.CarModels)
                {
                    <div class="col">
                        <div class="card">
                            <img src="@Url.GetCropUrl(car.Image, height: 250, width: 400)" class="card-img-top" alt="Car image">
                            <div class="card-body">
                                <h5 class="card-title">@car.Name</h5>
                                <p class="card-text">@car.LaunchDate.Year</p>
                                <p class="card-text"><small class="text-body-secondary">@Umbraco.GetDictionaryValue("Price"): @(car.Price)$</small></p>
                                <a href="@car.Url" class="btn btn-primary">@Umbraco.GetDictionaryValue("View details")</a>
                                <a href="#" class="btn btn-primary">@Umbraco.GetDictionaryValue("Buy now")</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if(indexModel.PageViewModel.TotalPages > 1)
            {
                @await Html.PartialAsync("_Pagination", indexModel);
            }
        </div>
    </div>
</div>