@model CarsApi.Models.IndexViewModel


@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var pageModel = Model.PageViewModel;
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <p>Search bar</p>
            <form method="get">
                <div class="row">
                    <select class="form-select" name="brand" asp-items="Model.FilterViewModel.Brands"></select>
                </div>
                <label>Price</label>
                <div class="row">
                    <select class="form-select form-select-sm" name="minPrice">
                        <option selected>Min</option>
                        <option value="5000">5000$</option>
                        <option value="20000">20000$</option>
                        <option value="50000">50000$</option>
                        <option value="70000">70000$</option>
                        <option value="90000">90000$</option>
                        <option value="100000">100000$</option>
                    </select>
                    <select class="form-select form-select-sm" name="maxPrice">
                        <option selected>Max</option>
                        <option value="1000">1000$</option>
                        <option value="20000">20000$</option>
                        <option value="50000">50000$</option>
                        <option value="70000">70000$</option>
                        <option value="90000">90000$</option>
                        <option value="100000">100000$</option>
                    </select>
                </div>
                <label>Model year</label>
                <div class="row">
                    <select class="form-select form-select-sm" name="minYear">
                        <option selected>Min</option>
                        <option value="1990">1990</option>
                        <option value="2000">2000</option>
                        <option value="2010">2010</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                    <select class="form-select form-select-sm" name="maxYear">
                        <option selected>Max</option>
                        <option value="2000">2000</option>
                        <option value="2010">2010</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>
                <input type="submit" value="Filter"/>
            </form>
        </div>
        <div class="col-10">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @if (Model.PageViewModel.HasPreviousPage)
                            {
                                var queryString = $"?page={Model.PageViewModel.PageNumber - 1}&brand={Model.FilterViewModel.SelectedBrand}";

                                <li class="page-item">
                                    <a class="page-link" href=@queryString aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }

                            @for (int page = 1; page <= pageModel.TotalPages; page++)
                            {
                                var queryString = $"?page={page}&brand={Model.FilterViewModel.SelectedBrand}";

                                <li class="page-item"><a class="page-link" href="@queryString">@(page)</a></li>
                            }

                            @if (Model.PageViewModel.HasNextPage)
                            {
                                var queryString = $"?page={Model.PageViewModel.PageNumber + 1}&brand={Model.FilterViewModel.SelectedBrand}";

                                <li class="page-item">
                                    <a class="page-link" href=@queryString aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var car in Model.CarModels)
                {
                    <div class="col">
                        <div class="card">
                            <img src=@car.Image class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@car.Name</h5>
                                <p class="card-text">@car.LaunchDate.Year</p>
                                <p class="card-text"><small class="text-body-secondary">Price: @(car.Price)$</small></p>
                                <a href="@car.Url" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @if (Model.PageViewModel.HasPreviousPage)
                            {
                                var queryString = $"?page={Model.PageViewModel.PageNumber - 1}&brand={Model.FilterViewModel.SelectedBrand}";

                                <li class="page-item">
                                    <a class="page-link" href=@queryString aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }

                            @for (int page = 1; page <= pageModel.TotalPages; page++)
                            {
                                var queryString = $"?page={page}&brand={Model.FilterViewModel.SelectedBrand}";

                                <li class="page-item"><a class="page-link" href="@queryString">@(page)</a></li>
                            }

                            @if (Model.PageViewModel.HasNextPage)
                            {
                                var queryString = $"?page={Model.PageViewModel.PageNumber + 1}&brand={Model.FilterViewModel.SelectedBrand}";

                                <li class="page-item">
                                    <a class="page-link" href=@queryString aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>